<div class="top-container">
  <nz-switch [(ngModel)]="switchValue" (ngModelChange)="toggled($event)"></nz-switch>
  <span class="toggle-label">{{ switchValue ? 'Fetching new users ...' : 'Toggle to start fetching new users' }}</span>
  <button nz-button [routerLink]="['/', 'favorites']" class="favbtn">Open Favorite Users</button>
</div>
<nz-table #usersTable [nzData]="(users$ | async) ?? []" [nzLoading]="loading" nzShowPagination="false">
  <thead>
    <tr>
      <th>avatar</th>
      <th>ID</th>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th nzWidth="78px" nzRight></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usersTable.data">
      <td><img [src]="user.avatar" alt="User avatar" /></td>
      <td>{{ user.id }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>
        <span
          nz-icon
          nzType="star"
          [nzTheme]="isFavored(user.id) ? 'fill' : 'outline'"
          class="favor"
          (click)="onFavorClicked(user)"></span>
      </td>
    </tr>
  </tbody>
</nz-table>
